#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #1DB954, #006600c5); 
    border-radius: 10px; 
    padding: 20px; 
    color: white; 
    width: 300px; 
    margin: 0 auto; 
}

#cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: spin 5s linear infinite;
    border-radius: 10px; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#controls {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.material-icons:hover {
    color: rgba(255, 255, 255, 0.723);
}

#volume {
    width: 80%; 
    margin: 0 auto; 
}
button {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 10px; 
}

button:hover img, button:active img {
    filter: brightness(0); 
}

#title, #artist, #timer {
    text-align: center; 
}

#volume {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: repeating-linear-gradient(
        45deg,
        #000,
        #000 12px,
        #fff 10px,
        #fff 22px
    );
    cursor: pointer;
    border-radius: 50%;  /* Hace que el thumb sea redondo */
    margin-top: -5px;  /* Ajusta la posición vertical del thumb */
}

#volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: repeating-linear-gradient(
        45deg,
        #000,
        #000 5px,
        #fff 5px,
        #fff 2px
    );
    cursor: pointer;
    border-radius: 50%;  /* Hace que el thumb sea redondo */
    margin-top: -5px;  /* Ajusta la posición vertical del thumb */
}

#volume::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: black;
}

#volume::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: black;
}